.set-detail--share-buttons {
  svg {
    font-size: 24px;
  }

  .facebook {
    color: #3b5999;
  }

  .twitter {
    color: #55acee;
  }

  .copy-text {
    color: $grey;
  }
}

.set-detail--item-question,
.set-detail--item-answer {
  border: 1px solid $grey-lightest;
  padding: 8px;
  border-radius: 5px;
}

.page-header--items-info {
  span {
    @include highlight;
    padding: 0 4px;
    font-weight: 700;
  }
}

.page-header--description {
  background-color: $white-ter;
  padding: 16px;
  margin-top: 8px;
  border-radius: 5px;
}
