$primary: #12b886;
$white: #fff;

.lazy-vaccine {
  .disclaimer-info {
    background: $primary;
    padding: 8px;
    padding-right: 32px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: $white;
    font-size: 10px;
  }
}
