@use "sass:meta";

@include meta.load-css("./_common.scss");

$primary: #12b886;
$white: #fff;

.lazy-vaccine {
  .flash-card-wrapper {
    width: 100%;
    margin-bottom: 20px;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    height: 300px;
    z-index: 1;

    &.is-flipped {
      transform: rotateY(180deg);
    }

    .card--face {
      width: 100%;
      height: 100%;
      background-color: $white;
      text-align: center;
      font-weight: bold;
      font-size: 40px;
      backface-visibility: hidden;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      p {
        padding: 0 44px;
        animation: animate-fade 0.5s;
        height: calc(100% - 60px);
        overflow: auto;
        display: grid;
        align-items: center;
        margin-block-start: 0;
        margin-block-end: 0;
      }
    }

    .card--face--back {
      position: absolute;
      top: 0;
      transform: rotateY(180deg);

      p {
        height: 100%;
      }
    }

    .card--interactions {
      display: flex;
      padding: 10px 16px;
      justify-content: space-between;
      border-top: 1px solid #dbdbdb;
    }

    .card--interactions button {
      &:hover {
        opacity: 0.8;
      }
    }

    .card--interactions--ignore {
      color: #e67e22 !important;
      border-color: #e67e22 !important;

      &:hover {
        color: #e67e22 !important;
        border-color: #e67e22 !important;
      }
    }

    .card--interactions--got-it {
    }

    .card--interactions--star {
      color: #ffdf50 !important;
      border-color: #ffdf50 !important;

      &:hover {
        color: #ffdf50;
        border-color: #ffdf50;
      }
    }
  }
}
