@use "sass:meta";

@mixin box-shadow($h-shadow: 0, $v-shadow: 1px, $blur: 2px, $spread: 0, $color: fade-out($black, 0.85)) {
  box-shadow: $h-shadow $v-shadow $blur $spread $color;
}

@keyframes animate-fade {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

$primary: #12b886;
$white: #fff;

.lazy-vaccine {
  @include meta.load-css("./antd-icon.scss");
  @include meta.load-css("./antd-btn.scss");
  @include meta.load-css("./antd-popover.scss");

  position: relative;
  min-width: 300px;

  a {
    color: $primary;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .next-prev-buttons--wrapper {
    height: 300px;
    position: absolute;
    top: 0;
    width: 100%;

    button {
      width: 32px;
      height: 32px;
      padding: 1.7px 0;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
      position: absolute;
      z-index: 1;
      top: calc(50% - 16px);
      border: none;
      background: $primary;
      color: $white;
      cursor: pointer;

      &:hover {
        opacity: 0.85;
      }
    }

    .next-prev-buttons--prev-button {
      left: 0;
      border-radius: 0;
      border-top-right-radius: 13px;
      border-bottom-right-radius: 13px;
    }

    .next-prev-buttons--next-button {
      right: 0;
      border-radius: 0;
      border-top-left-radius: 13px;
      border-bottom-left-radius: 13px;
    }
  }

  .flash-card-wrapper {
    width: 100%;
    margin-bottom: 20px;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    height: 300px;
    z-index: 1;

    &.is-flipped {
      transform: rotateY(180deg);
    }

    .card--face {
      width: 100%;
      height: 100%;
      background-color: $white;
      text-align: center;
      font-weight: bold;
      font-size: 40px;
      backface-visibility: hidden;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      p {
        padding: 0 44px;
        animation: animate-fade 0.5s;
        height: calc(100% - 60px);
        overflow: auto;
        display: grid;
        align-items: center;
      }
    }

    .card--face--back {
      position: absolute;
      top: 0;
      transform: rotateY(180deg);

      p {
        height: 100%;
      }
    }

    .card--interactions {
      display: flex;
      padding: 10px 16px;
      justify-content: space-between;
      border-top: 1px solid #dbdbdb;
    }

    .card--interactions button {
      &:hover {
        opacity: 0.8;
      }
    }

    .card--interactions--ignore {
      color: #e67e22 !important;
      border-color: #e67e22 !important;

      &:hover {
        color: #e67e22 !important;
        border-color: #e67e22 !important;
      }
    }

    .card--interactions--got-it {
    }

    .card--interactions--star {
      color: #ffdf50 !important;
      border-color: #ffdf50 !important;

      &:hover {
        color: #ffdf50;
        border-color: #ffdf50;
      }
    }
  }
}
