.lazy-vaccine {
  .flash-card-wrapper {
    width: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    z-index: 1;

    & > div:nth-child(2) {
      min-height: 100px;
    }

    &.is-flipped {
      transform: rotateY(180deg);
    }

    .card--face {
      width: 100%;
      background-color: $white;
      text-align: center;
      font-weight: bold;
      font-size: 40px;
      backface-visibility: hidden;

      p {
        animation: animate-fade 0.5s;
        height: 100%;
        overflow: auto;
        display: grid;
        align-items: center;
        margin-block-start: 0;
        margin-block-end: 0;
        max-height: 500px;
        padding: 50px 44px;
        white-space: pre-line;
      }
    }

    .card--face--back {
      position: absolute;
      top: 0;
      transform: rotateY(180deg);
    }
  }
}
