@use "sass:meta";

@include meta.load-css("./_common.scss");

$primary: #12b886;
$white: #fff;

.lazy-vaccine {
  .qna-card-wrapper {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    min-height: 350px;
    z-index: 1;

    .card--content {
      position: absolute;
      width: 100%;
      height: auto;
      background-color: $white;
      font-weight: bold;
      font-size: 18px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      display: flex;
      flex-direction: column;

      .card--question {
        padding: 10px 44px;
      }
    }

    .answer--wrapper {
      padding: 0 44px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 10px;

      .answer-btn {
        font-weight: 300;
        font-size: 15px;
        width: 45%;
        padding: 6px;
        border: 1px solid #ede4f4;
        margin-bottom: 10px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          border-color: #939bb4;
        }

        &.selected {
          background-color: #cedaf3;
          border-color: #4257b2;
        }

        &.correct {
          background-color: #d8fde8 !important;
          border-color: #23b26d !important;
        }

        &.incorrect {
          background-color: #fdd4db !important;
          border-color: #ff9cae !important;
        }
      }
    }

    .check--wrapper {
      width: 100%;
      text-align: center;
    }

    .card--interactions {
      display: flex;
      padding: 10px 16px;
      justify-content: space-between;
      margin-top: 1em;
      border-top: 1px solid #dbdbdb;

      button {
        &:hover {
          opacity: 0.8;
        }
      }

      .card--interactions--ignore {
        color: #e67e22;
        border-color: #e67e22;

        &:hover {
          color: #e67e22;
          border-color: #e67e22;
        }
      }

      .card--interactions--star {
        color: #d8d8d8 !important;
        border-color: #ffdf50 !important;

        &:hover {
          color: #fde476;
          border-color: #ffdf50;
        }
      }

      .stared {
        color: #ffdf50 !important;
      }
    }
  }
}
