@use "sass:meta";

@mixin box-shadow($h-shadow: 0, $v-shadow: 1px, $blur: 2px, $spread: 0, $color: fade-out($black, 0.85)) {
  box-shadow: $h-shadow $v-shadow $blur $spread $color;
}

@keyframes animate-fade {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

$primary: #12b886;
$white: #fff;

.lazy-vaccine {
  @include meta.load-css("./antd-icon.scss");
  @include meta.load-css("./antd-btn.scss");
  @include meta.load-css("./antd-popover.scss");

  position: relative;
  min-width: 300px;

  a {
    color: $primary;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .next-prev-buttons--wrapper {
    min-height: 350px;
    position: absolute;
    top: 0;
    width: 100%;

    button {
      width: 32px;
      height: 32px;
      padding: 1.7px 0;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
      position: absolute;
      z-index: 1;
      top: calc(50% - 16px);
      border: none;
      background: $primary;
      color: $white;
      cursor: pointer;

      &:hover {
        opacity: 0.85;
      }
    }

    .next-prev-buttons--prev-button {
      left: 0;
      border-radius: 0;
      border-top-right-radius: 13px;
      border-bottom-right-radius: 13px;
    }

    .next-prev-buttons--next-button {
      right: 0;
      border-radius: 0;
      border-top-left-radius: 13px;
      border-bottom-left-radius: 13px;
    }
  }

  .qna-card-wrapper {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    min-height: 350px;
    z-index: 1;

    .card--content {
      position: absolute;
      width: 100%;
      height: auto;
      background-color: $white;
      font-weight: bold;
      font-size: 18px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      display: flex;
      flex-direction: column;

      .card--question {
        padding: 10px 44px;
      }
    }

    .answer--wrapper {
      padding: 0 44px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 10px;

      .answer-btn {
        font-weight: 300;
        font-size: 15px;
        width: 45%;
        padding: 6px;
        border: 1px solid #ede4f4;
        margin-bottom: 10px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          border-color: #939bb4;
        }

        &.selected {
          background-color: #cedaf3;
          border-color: #4257b2;
        }

        &.correct {
          background-color: #d8fde8 !important;
          border-color: #23b26d !important;
        }

        &.incorrect {
          background-color: #fdd4db !important;
          border-color: #ff9cae !important;
        }
      }
    }

    .check--wrapper {
      width: 100%;
      text-align: center;
    }

    .card--interactions {
      display: flex;
      padding: 10px 16px;
      justify-content: space-between;
      margin-top: 1em;
      border-top: 1px solid #dbdbdb;

      button {
        &:hover {
          opacity: 0.8;
        }
      }

      .card--interactions--ignore {
        color: #e67e22;
        border-color: #e67e22;

        &:hover {
          color: #e67e22;
          border-color: #e67e22;
        }
      }

      .card--interactions--star {
        color: #ffdf50 !important;
        border-color: #ffdf50 !important;

        &:hover {
          color: #ffdf50;
          border-color: #ffdf50;
        }
      }
    }
  }
}
