@import "~@/common/css/global/variables";
@import "~@/common/css/global/keyframes";
@import "~@/common/css/global/functions";
@import "~@/common/css/global/mixins";
@import "~@/common/css/global/common";

@import "~@/common/css/components/_common/navbar";
@import "~@/common/css/components/_common/page-footer";

@import "../Pages/create-set/css/create-set";
@import "../Pages/set-detail/css/set-detail";
@import "../Pages/home/css/home";

body {
  min-height: 100vh;

  .body-content {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
  }
}

#root {
  min-height: 100vh;

  & > .ant-layout {
    min-height: 100vh;
  }
}

.ant-layout {
  height: 100%;
}

.navbar-create-set--wrapper {
  @include box-shadow(0, 3px, 2px, 0, fade-out($black, 0.8));
  font-weight: 700;
  background-color: $gold;
  text-transform: uppercase;
  border: none;

  &:hover,
  &:focus,
  &:active {
    background: bulmaLighten($gold, 10%);
    color: unset;
  }

  svg {
    animation: bounce ease-in-out 0.7s infinite alternate;
  }
}

.ant-page-header-content {
  position: absolute;
  width: 500px;
  top: -4px;
  left: 0;
  right: 0;
  margin: 0 auto;

  & > span {
    border: none;
    @include box-shadow(0, 3px, 2px, 0, fade-out($black, 0.8));
  }
}

.page-header--title {
  margin-bottom: 0 !important;
}

.pages-navigator--wrapper {
  background: transparent;
  padding: 24px;

  ul {
    background: transparent;
    display: flex;
    justify-content: center;
    text-transform: uppercase;

    li {
      position: relative;
      margin: 0 12px;

      &:after {
        position: absolute;
        display: none;
        content: "";
        width: 100%;
        height: 0.375rem;
        transform: rotate(-2deg);
        background-color: $primary;
        top: 30px;
        left: 0 !important;
      }

      &:hover:after,
      &.is-active:after {
        display: block;
      }
    }
  }
}

button {
  position: relative;
  overflow: hidden;

  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
  }

  &:hover {
    &:after {
      left: 120%;
      transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}
