@import "~@/common/css/global/variables";
@import "~@/common/css/global/keyframes";
@import "~@/common/css/global/common";

@import "~@/common/css/components/_common/navbar";
@import "~@/common/css/components/_common/page-footer";

@import "./create-set";

body {
  min-height: 100vh;

  .body-content {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
  }
}

#root {
  height: 100%;
}

.ant-layout {
  height: 100%;
}
