.text-card--wrapper {
  background: #fff;
  border-radius: 5px;
  margin: 30px 50px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.6);

  img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .text-card--text {
    padding: 20px;
    font-size: x-large;
  }
}
