.ant-page-header {
  background-color: $primary;
  padding: 0 8px;

  .ant-page-header-heading-title {
    padding-top: 0;
    padding-bottom: 0;
    font-family: $family-sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: $white;
    animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }

  .ant-page-header-heading-extra .ant-avatar {
    margin-right: -12px;
  }

  .ant-page-header-heading-extra {
    display: flex;
    align-items: center;
  }
}
