.marketplace-sider--wrapper {
  background: $white;
  border-radius: 5px;

  .ant-typography {
    @include highlight;
    padding: 0 8px;
    display: inline;
    text-transform: uppercase;
  }

  .plant-type--wrapper {
    display: flex;
    flex-wrap: wrap;

    .plant-type--item {
      margin: 4px 2px;
      border-radius: 4px;
    }
  }

  .ant-divider-horizontal {
    margin: 16px 0;
  }
}