.set-items--wrapper {
  margin-top: 1em;

  .set-items--item {
    margin: 3em 0;
    padding: 1em;
    background: $white;
    position: relative;

    .set-items--item-type {
      position: absolute;
      top: -2em;
      left: 0;

      border: none;
      border-radius: 0;
      background: $primary;
      color: findColorInvert($primary);
    }

    .set-items--question {
      padding-bottom: 0.5em;
    }

    .set-item--answer {
      height: 100%;
      padding: 0.5em;
      border: 2px solid $grey-lighter;
      border-radius: 4px;
    }

    &.type-content {
      white-space: pre-line;
    }
  }

  .vertical-divider {
    @include vertical-divider(
      $width: 1px,
      $height: 80%,
      $background: $grey-lighter
    );
  }
}
