.set-detail-info--wrapper {
  @include box-shadow;
  background-color: $white;
  margin-top: 1em;

  .set-detail-info--image {
    img {
      width: 15em;
      height: 15em;
      margin-bottom: -7px;
      object-fit: cover;
    }
  }
}
