@import "../../common/css/global/variables";
@import "../../common/css/global/keyframes";
@import "../../common/css/global/mixins";
@import "../../common/css/global/brand-colors";

@import "../../common/css/global/common";
@import "../../common/css/components/card-normal";
@import "../../common/css/components/_common/navbar";
@import "../../common/css/components/popup-page/first-time-intro";
@import "../../common/css/components/popup-page/choose-page";
@import "../../common/css/components/popup-page/choose-languages";
@import "../../common/css/components/popup-page/logged-in";

@import "../../common/css/components/_common/next-prev-buttons";

html {
  height: unset;
}

body {
  @include footer-background;
  width: $popup-container-width;
  background-color: $white-ter;
  color: $text-black;
  padding-bottom: 7em;
  min-height: 600px;
}
