.price-wrapper {
  display: flex;
  align-items: center;

  .price-label {
    margin-left: 4px;
    font-weight: $weight-bold;
    font-size: $size-5;
  }
}

.seed-info-wrapper {
  text-align: center;
  margin-top: 8px;

  .owner-label {
    font-weight: $weight-bold;
  }
}

.category-item {
  border: 1px solid $grey-light;
  padding: 2px;
  border-radius: 2px;
  margin: 2px 4px;
}