.logged-in--wrapper {
  .logged-in--header-info {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-bottom: 2em;
    border-radius: 0 0 85% 85% / 30%;
    background-attachment: fixed;
    background-size: cover;

    .logged-in--stats-wrapper {
      width: 100%;
      height: 100%;
      padding-bottom: 2em;
      background-image: url("../../../../images/ui/clouds.svg"),
        url("../../../../images/ui/trees.svg"),
        linear-gradient(to bottom, $primary, $primary-light);
      background-repeat: no-repeat, repeat-x;
      background-position: 0 2em, 0 3em, 0 0;
      background-size: cover, contain;
      color: $white;
      text-shadow: 1px 1px 1px $text-shadow;

      .logged-in--profile-info-wrapper {
        width: 10em;
        padding-bottom: 1em;

        .logged-in--profile-info-profile-picture {
          overflow: hidden;
          width: 100px;
          height: 100px;
          margin: 0 auto;
          border-radius: 100%;
          background: $grey-lighter;
        }

        .logged-in--profile-info-name {
          p {
            font-size: 1.5em;
            font-weight: 700;
          }
        }
      }

      .logged-in--stats-buttons-wrapper {
        width: 10em;

        button {
          width: 100%;
          margin-bottom: .5em;
        }
      }
    }
  }
}
