.nft-detail-wrapper {
  .ant-result-icon {
    img {
      display: block;
      margin: 20px auto 0px;
      height: 300px;
      width: auto;
      border-radius: 50%;
      animation: 3s infinite alternate floating;
      box-shadow: 0px 10px 10px #dbdbdb;
      border: 2px solid #fff;
    }
    .shadow {
      height: 2px;
      display: block;
      margin: 15px auto;
      animation: 3s infinite alternate shadow;
    }

    @keyframes floating {
      0% {
        transform: translatey(0px);
      }
      50% {
        transform: translatey(-10px);
      }
      100% {
        transform: translatey(0px);
      }
    }
    @keyframes shadow {
      0% {
        width: 180px;
        box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.8);
      }
      50% {
        width: 150px;
        box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.5);
      }
      100% {
        width: 180px;
        box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.8);
      }
    }
  }

  .sky-background-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
    border-radius: 2px;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .sun {
    border: solid 1px #ffcc00;
    border-radius: 50%;
    background-color: #ffcc00;
    position: absolute;
    height: 60px;
    width: 60px;
    right: 30%;
    top: 15%;

    box-shadow: 0px 0px 50px 0px #ffcc00;
  }

  .cloud1 {
    border: 1px solid #fff;
    background: #fff;
    position: absolute;
    height: 15px;
    width: 70px;
    top: 30%;
    left: 90%;
    animation-name: cloud1;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 0s;
  }

  @keyframes cloud1 {
    from {
      top: 30%;
      left: 90%;
    }
    to {
      top: 30%;
      left: 10%;
    }
  }

  .circle1 {
    border: 1px solid #fff;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    height: 25px;
    width: 25px;
    top: -75%;
    left: -20%;
  }

  .circle2 {
    border: 1px solid #fff;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    height: 30px;
    width: 30px;
    top: -150%;
    left: 5%;
  }

  .circle3 {
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    background: #fff;
    height: 40px;
    width: 40px;
    left: 40%;
    top: -200%;
  }

  .circle4 {
    border: 1px solid #fff;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    height: 21px;
    width: 21px;
    left: 80%;
    top: -45%;
  }

  .circle5 {
    border: 1px solid #fff;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    height: 30px;
    width: 30px;
    left: 85%;
    top: -105%;
  }

  .cloud2 {
    border: 1px solid #fff;
    background: #fff;
    position: absolute;
    height: 15px;
    width: 100px;
    top: 50%;
    left: 80%;
    animation-name: cloud2;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 0s;
  }

  @keyframes cloud2 {
    from {
      top: 50%;
      left: 80%;
    }
    to {
      top: 50%;
      left: 0%;
    }
  }

  .cloud2 .circle1 {
    left: -17%;
  }

  .cloud2 .circle3 {
    left: 30%;
    top: -220%;
  }

  .cloud2 .circle4 {
    height: 35px;
    width: 35px;
    left: 65%;
    top: -170%;
  }

  .cloud3 {
    border: 1px solid #fff;
    background: #fff;
    position: absolute;
    height: 15px;
    width: 50px;
    top: 35%;
    left: 10%;
    animation-name: cloud3;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 0s;
  }

  @keyframes cloud3 {
    from {
      top: 35%;
      left: 10%;
    }
    to {
      top: 35%;
      left: 95%;
    }
  }
}
