@import "~@/common/css/global/variables";
@import "~@/common/css/global/keyframes";
@import "~@/common/css/global/mixins";
@import "~@/common/css/global/brand-colors";
@import "~@/common/css/global/common";

@import "~@/common/css/components/_common/navbar";
@import "~@/common/css/components/_common/next-prev-buttons";
@import "~@/common/css/components/_common/popup-header";

@import "~@/common/components/css/first-time-intro";
@import "~@/common/components/css/choose-languages";

@import "./components/completed-info";

html {
  height: unset;
}

body {
  @include footer-background;
  width: $popup-container-width;
  background-color: $white-ter;
  color: $text-black;
  padding-bottom: 7em;
  min-height: 601px;
  overflow-x: hidden !important;
}
