.create-set-items-info--wrapper {
  .create-set-items-info--image {
    float: left;
    margin-right: 1em;
    padding: 0;
    img {
      overflow: hidden;
      width: 5em;
      height: 5em;
      border-radius: 100%;
    }
  }

  .create-set-items-info--image-chooser {
    float: left;
    overflow: hidden;
    width: 5em;
    height: 5em;
    margin-right: 1em;
    padding: 1.5em;
    border-radius: 100%;
  }

  .creator-info--label {
    text-transform: capitalize;

    svg {
      width: 0.5em;
      margin-left: 0.5rem;
    }
  }

  .create-set-items-info--setting-button {
    width: 3em;
    height: 3em;
  }
}
