.friend-road--wrapper {
  padding: 10px;

  .images-pins--wrapper {
    position: relative;
    padding: 10px 23px;
  }

  .ant-steps-item-process {
    .ant-steps-icon-dot {
      left: -2px !important;
    }
  }
}
