$facebook-color: #3b5999;
$facebook-color-light: #2366d1;

$youtube-color: #cd201f;
$youtube-color-light: rgb(221, 35, 35);

$amazon-color: #ff9900;
$amazon-color-light: rgb(250, 165, 37);

$ebay-color: #25d366;
$ebay-color-light: rgb(63, 236, 127);

$twitter-color: #55acee;
$twitter-color-light: rgb(93, 185, 255);

$reddit-color: #ff5700;
$reddit-color-light: rgb(255, 107, 34);

$google-color: #4285f4;
$google-color-light: rgb(78, 146, 255);

$pinterest-color: #bd081c;
$pinterest-color-light: rgb(218, 13, 37);
