@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Noto+Sans+JP&display=swap&subset=vietnamese");

::placeholder {
  color: $grey-light;
}

.divider {
  position: relative;
  display: block;
  height: 0.1rem;
  margin: 2rem 0;
  border-top: 0.1rem solid $grey-lighter;
}

.is-full-height {
  height: 100%;
}

button.is-transparent {
  border: 0;
  background: no-repeat;
}

a *,
button * {
  pointer-events: none;
}

body {
  opacity: 1;
  transition: 0.5s opacity;

  &.fade {
    opacity: 0;
    transition: none;
  }
}

.is-relative {
  position: relative !important;
}

.has-text-centered {
  text-align: center !important;
}

.has-text-white {
  color: $white !important;
}
