@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Noto+Sans+JP&display=swap&subset=vietnamese");

::placeholder {
  color: $grey-light;
}

.divider {
  position: relative;
  display: block;
  height: 0.1rem;
  margin: 2rem 0;
  border-top: 0.1rem solid $grey-lighter;
}

.is-full-height {
  height: 100%;
}

a *,
button * {
  pointer-events: none;
}

.is-relative {
  position: relative !important;
}

.is-absolute {
  position: absolute !important;
}

.has-text-centered {
  text-align: center !important;
}

.has-text-white {
  color: $white !important;
}

.ant-space-align-end {
  display: flex;
  justify-content: flex-end;
}

.float-right {
  float: right;
}

.rotate-45deg {
  transform: rotate(45deg);
}

.is-uppercase {
  text-transform: uppercase;
}

.top-16px {
  margin-top: 16px;
}

.bot-16px {
  margin-bottom: 16px;
}
