@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Noto+Sans+JP&display=swap&subset=vietnamese");

::placeholder {
  color: $grey-light;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 20px;
}

.divider {
  position: relative;
  display: block;
  height: 0.1rem;
  margin: 2rem 0;
  border-top: 0.1rem solid $grey-lighter;
}

.is-full-height {
  height: 100%;
}

.hidden {
  display: none;
}

a *,
button * {
  pointer-events: none;
}

.is-relative {
  position: relative !important;
}

.is-absolute {
  position: absolute !important;
}

.has-text-centered {
  text-align: center !important;
}

.has-text-white {
  color: $white !important;
}

.ant-space-align-end {
  display: flex;
  justify-content: flex-end;
}

.float-right {
  float: right;
}

.rotate-45deg {
  transform: rotate(45deg);
}

.is-uppercase {
  text-transform: uppercase;
}

.top-8px {
  margin-top: 8px;
}

.top-12px {
  margin-top: 12px;
}

.top-16px {
  margin-top: 16px;
}

.top--25px {
  margin-top: -24px;
}

.top-25px {
  margin-top: 25px;
}

.bot-16px {
  margin-bottom: 16px;
}

.left-16px {
  margin-left: 16px;
}

.pad-16px {
  padding: 16px;
}

.pad-left-right-16px {
  padding: 0 16px;
}

.pad-top-bottom-8px {
  padding: 8px 0;
}

.margin-16px {
  margin: 16px;
}

.margin-0 {
  margin: 0 !important;
}

.margin-8px {
  margin: 8px;
}

.bold {
  font-weight: bold;
}
