$family-sans-serif: "Source Sans Pro", "Noto Sans JP", BlinkMacSystemFont,
  -apple-system, "Segoe UI", sans-serif;

$family-display: "Alfa Slab One", cursive;

$family-primary: $family-sans-serif;
$fullpage-container-width: 1000px;
$popup-container-width: 783px;
$sidebar-width: 300px;

$primary: #12b886;
$primary-light: #42e6a4;
$text-black: #252830;
$text-shadow: #333000;
